{% extends "base.html.twig" %}

{% block body %}
    
    <div class="container">
        <div class="row">
            <div class="col">
                {{ name }}
            </div>
            <div class="col">
                
                {% if null != email %}
                    {{ email }}
                {% else %}
                    "No exite email"
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                {% for item in items %}
                    <li>{{ item }}</li>                    
                {%  endfor %}
                </ul>
            </div>
        </div>
    </div>
    
    <button type="button" class="btn btn-primary">Primary</button>
    
{% endblock %}
