{% extends "base.html.twig" %}

{% block body %}
    
    <div class="container">
        <div class="row">
            <div class="col">
                Columna uno
            </div>
            <div class="col">
                Columna dos
            </div>
            <div class="col">
                Columna tres
            </div>
        </div>
    </div>
    
    <button type="button" class="btn btn-primary">Primary</button>
    
{% endblock %}